html {
  scroll-behavior: smooth;
}  

.logo {
  font-family: 'Bebas Neue', cursive;
  font-family: 'Bitter', serif;
}

.scrollable-menu {
  height: auto;
  max-height: 155px;
  overflow-x: hidden;
  background-color: white;
  max-width: 205px;
}

.scrollable-results {
  height: auto;
  max-height: 60vh;
  overflow-x: hidden;

}

.doctor-links:link {
  color: darkblue;
  background-color: transparent;
  text-decoration: none;
}
  
.doctor-links:visited {
  color: darkblue;
  background-color: transparent;
  text-decoration: none;
}
  
.doctor-links:hover {
  background-color: yellow;
  text-decoration: underline;
}

.image {
  background-image: url('medical-5459630.svg');
  background-repeat: no-repeat;
  background-position: right;
  text-align: right;
  text-decoration-color: rgb(42, 120, 165);

}

.active-cyan-4 input[type=text] {
  border: 3px solid rgb(72, 121, 212);
}

.active-cyan input[type=text] {
  border-bottom: 1px solid rgb(72, 121, 212);
  box-shadow: 0 1px 0 0 rgb(72, 121, 212);
}

.active-cyan .fa, .active-cyan-4 .fa {
  color: rgb(72, 121, 212);
}

#map { 
    height: 60vh; 
    margin: center;
    padding: 0;
}

.float-container {
    padding-top: 2em;
    padding-bottom: 20px;
    border: 3px solid #fff;
}

.float-child {
    float: left;
}  

.doctors-column {
    width: 40%;
    padding-bottom: 20px;
}

.map-column {
    width: 60%;
    padding-bottom: 20px;
}
  

#account{
    text-align: center;
    background-image: linear-gradient(to right, rgba(72, 121, 212, 0.712) , white);
}

.favorite {
  background-color: hotpink;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid rgba(221, 221, 221, 0)!important;
}

.jumbotron{
  background-color:  rgba(72, 121, 212, 0.468);
}

