
 .site-header {
    background-color: rgb(69, 182, 226);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: white;
    transition: ease-in-out color .15s;
  }

  .site-header a:hover {
    color: lightslategray;
    text-decoration: none;
  }

  .headline {
      color:  rgb(69, 182, 226);
  }


  
