{% extends 'base.html' %}
{% block title %}About me and my project{% endblock %}
{% block body %}
<hr>
<div>
    <h1 class="logo">About me</h1>
    <p style="text-align:justify" class="lead">
        My name is 
        <a href="https://www.linkedin.com/in/lucianact/" class="doctor-links">
            Luciana Terrazas
        </a> 
        and I’m originally from Brazil. 
        Currently, I’m a San Francisco based linguist and newbie coder seeking a 
        new career path in Software Engineering. I first came to the United States in 2016, 
        when I was enrolled in a two-year
        Cultural Exchange Program to learn English. 
        In the summer of 2019, after finishing my undergraduate studies at 
        <a href="https://www5.usp.br/" class="doctor-links">
            the University of São Paulo,
        </a> 
        I've relocated to the US permanently. 
        I would love to chat with you about previous experiences, 
        interests and challenges faced while developing this project.
        You can get in touch with me at 
        <a href="mailto:luciana.cterrazas@gmail.com" class="doctor-links">
            <em>luciana.cterrazas@gmail.com</em>
        </a>. 
        Thank you!
</p>
</div>
<div>
    <h1 class="logo">About this project</h1>
    <p style="text-align:justify" class="lead">
        As a Latin immigrant I’m aware of how effective communication can often get lost in translation. 
        Knowing that San Francisco is home to a large Latin population, 
        I felt compelled to ensure that language wouldn’t be a barrier for my community 
        to find healthcare, especially during the year of 2020. 
        So I built <em class="logo">¿Hablas Portuñol?</em> - a Python web application 
        that allows users to locate Spanish and Portuguese-speaking health providers in San Francisco.
        They can also write reviews, bookmark doctors and contribute to my open source data feature.
        You can check out more about this project
        <a href="https://github.com/lucianact/doctor-look-up-app" class="doctor-links">
            <em>here!</em>
        </a> 
    </p>
</div>
{% endblock %}

