{% extends 'base.html' %}
{% block title %}About me{% endblock %}
{% block body %}
<hr>
<div>
    <h1 class="logo" style="color:rgb(89, 87, 87)">About me</h1>
    <p style="text-align:justify" class="lead">
        My name is <a href="https://www.linkedin.com/in/lucianact/" class="doctor-links"> Luciana Terrazas</a> and I’m originally from Brazil. 
        Currently, I’m a San Francisco based linguist and newbie coder seeking a new career path in Software Engineering. 
        I first came to the United States in 2016, when I was enrolled in a two-year Cultural Exchange Program to learn English. 
        After finishing my undergraduate studies at the University of São Paulo, I've relocated to the US permanently.
        As a Latin immigrant I’m aware of how communication can often get lost in translation. 
        Knowing that San Francisco is home to a large Latin population,
        I felt compelled to ensure that language wouldn’t be a barrier for my community to find healthcare, especially during the year of 2020. 
        <b>¿Hablas Portuñol?</b> allows users to locate Spanish and Portuguese-speaking health providers in San Francisco.
        They can also write reviews, bookmark doctors and contribute the crowdsource data feature.
        I would love to chat with you about previous experiences, interests and challenges faced while developing 
        <a href="https://github.com/lucianact/doctor-look-up-app" class="doctor-links"><em>this project</em></a>.<br><br>
        You can get in touch with me at <a href="mailto:luciana.cterrazas@gmail.com" class="doctor-links"><em>luciana.cterrazas@gmail.com</em></a>.
        Thank you!
    </p>
</div>
{% endblock %}

