{% extends 'base.html' %}
{% block title %}My Account{% endblock %}
{% block body %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
<!-- header -->
<div id="account" class="jumbotron text-left">
    <h1 class="logo" style="color: whitesmoke">Welcome, {{username}}!</h1>
    <p class="lead" style="color: whitesmoke;">
        Here you can check out the doctors you have saved and reviews you've written
    </p>    
</div>
<!-- table reviews -->
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                <p class="lead" style="color: gray;">Reviews you've written</p>
            </th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for element in reviews_info %}
        <tr>
            <td>
                <a href="/doctor/{{element[2]}}" class="doctor-links">{{element[3]}}</a>
            </td>
            <td>{{element[0]}}</td>
            <td>
                <a href="#" class="doctor-links">edit</a> |
                <a href="#" class="doctor-links">delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- table bookmarks -->
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                <p class="lead" style="color: gray;">Doctors you've bookmarked</p>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for liked in doctors_liked %}
        <tr>
            <td><a href="/doctor/{{liked[1]}}" class="doctor-links">{{liked[2]}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}