{% extends 'base.html' %}
{% block title %}Help us!{% endblock %}
{% block body %}
<!-- success message -->
<div id="thank-you" class="alert alert-info" role="alert" style="display: block">
  <h4 class="alert-heading">Thank you!</h4>
  <p>Your contribution means a lot to our community!</p>
  <hr>
  <p class="mb-0"> 
    The information provided will be marked with "*" until it has been verified. 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </p>
</div>
<!-- JS Specialty Select Form -->
<!-- <div class="input-group mb-3"> -->
  <div id='html' style="display: none">
    <!-- <div class="input-group-append">
      <button class="" id="button" onclick="addSpecialtySection()">+</button>
    </div> -->
  <label for="FormSelect">Doctor's specialty</label>
  <select id="get-doctor-specialty" name="doctor-specialty" class="form-control" required>
    <option value="" disabled selected>Select at least one specialty</option>
    <option value="Other">Other</option>
    {% for specialty in specialties %}
    <option value="{{specialty.specialty}}">{{specialty.specialty}}</option>
    {% endfor %}
  </select>
  <div class="form-row" style="display: none">
    <div class="form-group col-md-4">
      <div id="other">
        <p>Other:<input type="text" name="other" class="form-control"></p>
      </div>
    </div>
  </div>
  <button class="btn btn-light" id="button" onclick="addSpecialtySection()">+</button>
</div>
<!-- UI form  -->
<div class="content">
  <div class="border-top pt-3">
    <div class="container">
      <br>
      <form action="/doctorform" method="POST">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputFirstName">Doctor's First Name</label>
            <input name="first-name" type="text" class="form-control" required>
          </div>
          <div class="form-group col-md-4">
            <label for="inputLastName">Doctor's Last Name</label>
            <input name="last-name" type="text" class="form-control" required>
          </div>
        </div>
        <!-- Doctor Specialy -->
        <div class="form-row">
          <div class="form-group col-md-4">
            <div id="js"></div>
            <div id="other"></div>
          </div>
        </div>
        <!-- Doctor "OTHER" Specialy -->
        <div id="other"></div>
        <!-- Doctor Address -->
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputAddress">Doctor's Address</label>
            <input name="address" type="text" class="form-control" placeholder="1234 Main St." required>
          </div>
          <div class="form-group col-md-4">
            <label>Additional information</label>
            <input name="suite" type="text" class="form-control" placeholder="Building, floor, apartment number">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label>City</label>
            <input name="city" type="text" class="form-control" placeholder="San Francisco" disabled>
          </div>
          <div class="form-group col-md-1">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected disabled>CA</option>
            </select>
          </div>
          <div class="form-group col-md-1">
            <label for="inputZip">Zip</label>
            <input name="zip" type="text" class="form-control" id="inputZip" required>
          </div>
        </div>
        <!-- Doctor Language -->
        <div class="form-check form-check-inline">
          <p> 
            Doctor's Language(s)  
            <input name="portuguese" class="form-check-input" type="checkbox" value="True">
            <label class="form-check-label"> Portuguese</label>
          </div>
          <div class="form-check form-check-inline">
            <input name="spanish" class="form-check-input" type="checkbox" value="True">
            <label class="form-check-label">Spanish</label>
          </div>
        </p>
        <!-- Submmit Button -->
        <button type="submit" class="btn btn-light">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
<!-- JS -->
<script type="text/javascript" src="/static/docform.js"></script>
{% endblock %}