{% extends 'base.html' %}
{% block title %}Add a new doctor{% endblock %}
{% block body %}

<br>
<fieldset>
  <section id="doctor-name">
    <h2>Add a doctor to our database:</h2>
      Name: <input type="text" name="fullname" placeholder="Ex: Dr. Barry W. Lee" required><br>
            <small>Please write doctor's full name</small>
  </section>

  <section id="doctor-specialty">
    <p> Is the doctor's specialties in our database?<p>
    <select id="get-doctor-specialty" name="doctor-specialty">
      <option value="Other">Other</option>
      {% for specialty in specialties %}
      <option value="{{specialty.specialty}}">{{specialty.specialty}}</option>
      {% endfor %}
    </select>
  </section>
  <!-- <option>Other:<input type="text"></option> -->

  <section id="doctor-language">
  Languages spoken: <br>
  Spanish <input name='spanish' type='checkbox' value='TRUE'/><br>
  Portuguese <input name='portuguese' type='checkbox' value='TRUE'/>
  </section>

  <br>

  <section id="doctor-address">
  Address: <input type="text" name="address" required><br>
    <small>Please follow example: 929 Clay St, Suite 501, San Francisco, CA 94108</small>
  </section>

<br>
<input type="submit">
</form>
</fieldset>
{% endblock %}