{% extends 'base.html' %}
{% block title %}{{doctor_name}}{% endblock %}
{% block body %}
<!-- header -->
<div id="account" class="jumbotron text-left"> 
    <!-- bookmark -->
    <form id="favorite" action="/{%if is_favorited %}un{% endif %}favorite/{{doctor_id}}" method="POST">
        <h1 class="logo" style="color:whitesmoke;"> {{doctor_name}}
        {% if current_user.get_id() %}
        <!-- <h1 style="color:darkblue;">Hi</h1> -->
        <button class="{% if is_favorited %} favorite {% endif %} btn btn-outline-light" id="fav-button" value={{doctor_id}}>
            <i class="fa fa-heart"></i>
            {% endif %}
        </button>
    </form>
    </h1>
    <br>
    <!-- info -->
    <p class="lead" style="color: whitesmoke;">
        <i class="fas fa-stethoscope"></i> 
        {{specialties}}
    </p>
    <p class="lead" style="color: whitesmoke;">
        <i class="fas fa-language"></i> 
        Speaks: {{portuguese}} {{spanish}} 
    </p>
    <p class="lead" style="color: whitesmoke;">
        <i class="fas fa-clipboard-check"></i> 
        Accepting new patients
    </p>
    <p class="lead" style="color: whitesmoke;">
        <i class="far fa-hospital"></i> 
        {{address}}
    </p>
    <p class="lead" style="color: whitesmoke;">
        <i class="fas fa-phone"></i>
         415-849-6862
    </p>
</div>
<!-- table reviews -->
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                <p class="lead" style="color: gray;">
                    {{doctor_name}} reviews
                    <a href="/review/{{doctor_id}}" class="doctor-links">
                        | write a review yourself!
                    </a>
                </p>
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% if reviews %}
        {% for review in reviews %}
        <tr>
            <td><p>{{review}}</p></td>
            <td><p>reviews are anonymous</p></td> 
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td><p>{{doctor_name}} has no reviews yet. Be the first one to write one!</p></td>
            <td><p></p></td>  
        </tr>
        {% endif %}
    </tbody>
</table>
<!-- JS -->
<script>
const favoriteForm = document.getElementById('favorite');
const favoriteButton = document.getElementById('fav-button');

favoriteForm.addEventListener('submit', function (ev) {
    ev.preventDefault();

    fetch(favoriteForm.action, {method:'POST'}).then(response => response.json()).then(data => {
        if (data.isFavorited) {
            favoriteForm.action = "/unfavorite/{{doctor_id}}"
            favoriteButton.classList.add('favorite');
        } else {
            favoriteForm.action = "/favorite/{{doctor_id}}"
            favoriteButton.classList.remove('favorite');
        }
    })
});
</script>
{% endblock %}