{% extends 'base.html' %}
{% block title %}Find your doctor{% endblock %}
{% block body %}

{% for message in get_flashed_messages() %}
<p>{{ message }}</p>
{% endfor %}

<h3>Find a health care provider who speaks your language:</h3>

<div id="search">
  <form id="get-doctor" action="/" method="GET">
  <input autocomplete="on" autofocus id="search" name="value_searched" placeholder="Name or specialty" type="text">
  <button type="submit">Search</button>
  </form>
</div>

<br>

{% if doctors %}
<div id="results">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Doctors</th>
        <th scope="col">Specialty</th>
      </tr>
    </thead>
    <tbody>
    {% for doctor in doctors %}
      <tr>
        <td><a href="/doctor/{{doctor['doctor_id']}}">{{ doctor['full_name'] }}</a></td>
        <td>{{ doctor['specialty'] }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>


<section id="map"></section>
  <script src="/static/map.js" type="application/javascript"></script>
  <nav id="filter-group" class="filter-group"></nav>
</section>

<!-- <script>showMap("/search.json?value_searched={{search}}")</script> -->
<script>
  showMap("/search.json?value_searched=" + encodeURIComponent({{ search|tojson }}));
</script>
{% endif %}

{% endblock %}

<!-- search|tojson: from python to js  -->
<!-- showfav showMap("/favori") -->









