{% extends 'base.html' %}
{% block title %}Write a review{% endblock %}
{% block body %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning" role="alert">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
<div class="jumbotron form-group">
    <h2 class="lead" style="color:whitesmoke;">Write a review for {{doctor_name}}</h2>
    <form action="/review/{{id}}" method="POST">
    <textarea id="review" name="review" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
    <input class="btn btn-light my-2 text-left" type="submit" value="Submit">
    </form>
</div>
{% endblock %}